.sticky-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
    margin-block: 1rem 2rem;
}

.sticky {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--color-sticky-1);
    aspect-ratio: 1 / 1;
}

.sticky--color-sticky-1 {
    background-color: var(--color-sticky-1);
}

.sticky--color-sticky-2 {
    background-color: var(--color-sticky-2);
}

.sticky--color-sticky-3 {
    background-color: var(--color-sticky-3);
}

.sticky--color-sticky-4 {
    background-color: var(--color-sticky-4);
}

.sticky textarea {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    font-size: var(--font-size-1);
    line-height: 1.5rem;
    resize: none;
    appearance: none;
}

.sticky textarea:focus {
    outline: none;
}

.sticky:has(textarea:focus) {
    outline: 2px solid var(--color-primary);
}

.sticky--add {
    --color-sticky-active: var(--color-primary-20);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    border: 2px solid var(--color-sticky-active);
    cursor: pointer;
}

.sticky--add .sticky__icon {
    position: relative;
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.sticky--add .sticky__icon::before,
.sticky--add .sticky__icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-sticky-active);
    transform: translate(-50%, -50%);
}

.sticky--add .sticky__icon::after {
    width: 2px;
    height: 24px;
}